.center{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

.text{
    font-size: 38px;
    text-align: justify;
}

.float{
    width: 45%;
    margin-left:20px;
    font-size: 35px;
    float: left;
}

/*Cover*/
.hp-cover {
    position: absolute;
    max-width: 800px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}